header {
	background-color: yellow;
	padding: 20px;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
	position: relative;
	margin: 50px;
}

#logo-titulo {
	height: 100px;
	width: 10%;
	position: absolute;
	top: 50px;
	left: 45%;

}

nav ul {
    position: absolute;
    top: 70px;
    right: 20px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
	font-size: 18px;
	text-decoration: none;
}

#banner {
	height: 500px;
	width: 100%;
	padding: 0 auto;
    
}

#pfotos {
	width: 70%;
	
}

.produtos {
	width: 90%;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 10px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 20px;
}
