header {

}

#banner {
	height: 500px;
	width: 100%;
	padding: 0 auto;
}

nav {
	position: absolute;
	top: 18px;
	right: 10px;

}

nav li {
	display: inline;
	margin: 0 0 0 15px;	
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
	font-size: 18px;
	text-decoration: none;
}

h2{
	text-align: center;
}

p {
	text-align: center;
	font-size: 18px;
}

#beneficios {
	width: 50%;
	position: relative;
	left: 25%;
}

footer {
	text-align: center;
	background: url(bg.jpg);
	padding: 5px;
}
